<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.wkd.towave.memorycleaner">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/DeepPurpleTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.AppManage"
            android:label="软件管理"/>
        <activity
            android:name=".ui.activity.MemoryClean"
            android:label="内存加速"></activity>

        <service
            android:name=".service.CleanerService"
            android:exported="false" />
        <service
            android:name=".service.CoreService"
            android:exported="false" />

    </application>

</manifest>